$font-family: 'Roboto', sans-serif;

$pane-font-color: #1f1f1f;

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$distance-xs: 5px;
$distance-sm: 7px;
$distance-md: 10px;
$distance-lg: 15px;
