body {
    font-family: $font-family;
    background-color: #000;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: url('../images/background-black-blue-landscape.jpg');
}

// @media screen and (orientation: portrait) {
//     background: url('../images/background-black-blue-portrait.jpg');
// }
