.possible-roles-container,
.possible-rights-container,
.active-roles-container,
.active-rights-container {
    border: 1px solid $light-grey;
    height: 200px;
    overflow: auto;

    & .add-remove-item {
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        box-shadow: 1px 1px 2px $light-grey;
        border: 1px solid $lighter-grey;
        box-sizing: border-box;
        width: 95%;

        & .add-remove-name,
        & .add-remove-icon {
            padding: 10px;
            word-break: break-word;
        }

        & .add-remove-icon {
            cursor: pointer;
        }

    }

}
