.info-tooltip-icon {
    vertical-align: middle;
    color: $tooltip-color;
    padding: 5px;
    margin-top: -5px;
    margin-left: -5px;
    display: inline;
    position: relative;
    top: 0px;
}
