.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-wrap {
    flex-wrap: wrap;
}

.flexbox-row {
    flex-flow: row wrap
}

.full-height {
    min-height: 100vh;
}

.smalltext {
    font-size: 11px;
}

.block {
    display: block !important;
}
