.pane {
    padding: $distance-md;
    box-sizing: border-box;
    background-color: $background-white-transparent;
    color: $pane-font-color;
    transition: $transition-all;

    &:hover {
        color: $pane-font-color-hover;
        background-color: $background-white-transparent-hover;
    }

    & .pane-header {
        font-size: 1.4em;
        margin-bottom: $distance-md;
        border-bottom: 1px solid #fff;
        padding-bottom: $distance-md;
        box-sizing: border-box;
    }

    & .pane-footer {
        font-size: 1.4em;
        margin-top: $distance-md;
        border-top: 1px solid #fff;
        padding-top: $distance-md;
        box-sizing: border-box;
    }

}

.black-pane {
    padding: $distance-md;
    background-color: rgba(20, 20, 20, .4);
    box-shadow: 3px 3px 3px rgba(40, 40, 60, .4);
}
