$font-family: 'Roboto', sans-serif;

$pane-font-color: #1f1f1f;
$pane-font-color-hover: #2d2d2d;

$lighter-grey: #e9e9e9;
$light-grey: #ddd;
$tooltip-color: #226dec;

$background-white-transparent: rgba(255, 255, 255, .7);
$background-white-transparent-hover: rgba(255, 255, 255, .9);

$transition-all: all .3s ease;

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$distance-xs: 5px;
$distance-sm: 7px;
$distance-md: 10px;
$distance-lg: 15px;
$distance-xl: 25px;
