<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4>{{modalUser.username}}</h4>
            </div>
            <div class="modal-body text-center">
                Ändern Foobar
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" ng-click="close(false)" class="btn btn-block btn-default" data-dismiss="modal">Abbrechen</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" ng-click="close(true)" class="btn btn-block btn-success" data-dismiss="modal">Speichern</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
