<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <span class="h4">{{user.username}}</span>
                <span class="close" aria-hidden="true" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="username">Benutzername</label>
                            <input class="form-control" type="text" name="username" ng-model="user.username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="text" name="email" ng-model="user.email">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="firstname">Vorname</label>
                            <input class="form-control" type="text" name="firstname" ng-model="user.firstname">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Nachname</label>
                            <input class="form-control" type="text" name="lastname" ng-model="user.lastname">
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-lg">
                    <div class="col-xs-6">
                        <strong>Rollen inaktiv</strong>
                        <div class="possible-roles-container">
                            <div ng-repeat="role in possibleRoles" class="add-remove-item">
                                <span class="add-remove-name">
                                    {{role.name}}
                                </span>
                                <span ng-click="addRole(role.name)" class="glyphicon add-remove-icon glyphicon-plus align-right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <strong>Rollen aktiv</strong>
                        <div class="active-roles-container">
                            <div ng-repeat="role in user.roles" class="add-remove-item">
                                <span class="add-remove-name">
                                    {{role.name}}
                                </span>
                                <span ng-click="removeRole(role.name)" class="glyphicon add-remove-icon glyphicon-minus" aria-hidden="true"></span>
                            </div>
                        </div>
                   </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <strong>Rechte inaktiv</strong>
                        <div class="possible-rights-container">
                            <div ng-repeat="right in possibleRights" class="add-remove-item">
                                <span class="add-remove-name">
                                    {{right.name}}
                                </span>
                                <span ng-click="addRight(right.name)" class="glyphicon add-remove-icon glyphicon-plus" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <strong>Rechte aktiv</strong>
                        <div class="active-rights-container">
                            <div ng-repeat="right in user.rights" class="add-remove-item">
                                <span class="add-remove-name">
                                    {{right.name}}
                                </span>
                                <span ng-click="removeRight(right.name)" class="glyphicon add-remove-icon glyphicon-minus" aria-hidden="true"></span>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" ng-click="close(true)" class="btn btn-block btn-success" data-dismiss="modal">Fertig</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
