<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4>{{user.username}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="username">Benutzername</label>
                            <input class="form-control" type="text" name="username" ng-model="user.username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="text" name="email" ng-model="user.email">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="firstname">Vorname</label>
                            <input class="form-control" type="text" name="firstname" ng-model="user.firstname">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Nachname</label>
                            <input class="form-control" type="text" name="lastname" ng-model="user.lastname">
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-lg">
                    <div class="col-xs-6">
                        <strong>Rollen inaktiv</strong>
                        <div class="possible-roles-container">
                            {{roles}}
                            <div ng-repeat"role in roles" class="add-remove-item">
                                {{role.name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <strong>Rollen aktiv</strong>
                        <div class="active-roles-container">
                            <div ng-repeat"role in user.roles" class="add-remove-item">
                                {{role}}
                            </div>
                        </div>
                   </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <strong>Rechte inaktiv</strong>
                        <div class="possible-rights-container">
                            <div ng-repeat"right in rights" class="add-remove-item">
                                {{right.name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <strong>Rechte aktiv</strong>
                        <div class="active-rights-container">
                            <div ng-repeat"right in user.rights" class="add-remove-item">
                                {{right}}
                            </div>
                        </div>
                   </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" ng-click="close(false)" class="btn btn-block btn-default" data-dismiss="modal">Abbrechen</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" ng-click="close(true)" class="btn btn-block btn-success" data-dismiss="modal">Speichern</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
