<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="h4">Bist du sicher, dass du <strong>{{rightName}}</strong> wirklich löschen willst?</span class="h4">
                <span class="close" aria-hidden="true" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Nicht löschen</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" ng-click="deleteRight(true)" class="btn btn-block btn-danger" data-dismiss="modal">Löschen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
