<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="AngularWebApp">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AngularWebApp</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/ressources/images/favicon.png" type="image/png" />
        <link rel="icon" href="/ressources/images/favicon.png" type="image/png" />

        <!-- CSS Styles -->
        <!-- Librarys -->
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- Custom -->
        <link rel="stylesheet" href="/ressources/css/style.min.css">

        <!-- JS Scripts -->
        <!-- Librarys -->
        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom -->
        <script type="text/javascript" src="/ressources/js/scripts.min.js"></script>
        <script type="text/javascript" src="/ressources/angular/angular.min.js"></script>

    </head>

    <body ng-app="App">
        <div class="container-fluid full-height flexbox">

            <div class="pane pane-login">

                <div class="pane-header">
                    Login
                </div>

                <form id="login-form">

                    <label for="username">Benutzername</label>
                    <input class="form-control" type="text" name="username" placeholder="Benutzername">

                    <label class="margin-top-lg" for="password">Passwort</label>
                    <input class="form-control" type="password" name="password" placeholder="Passwort">
                </form>

                <div class="pane-footer text-right">
                    <button class="btn btn-sortimo" type="submit">
                        Anmelden
                    </button>
                </div>

            </div>

        </div>
    </body>

</html>
