<div class="options-container">

    <ul>
        <li class="option-item">
            <span class="glyphicon glyphicon-user option-icon" aria-hidden="true"></span>
            Benutzer verwalten
        </li>
        <li class="option-item">
            <span class="glyphicon glyphicon-certificate option-icon" aria-hidden="true"></span>
            Rollen verwalten
        </li>
        <li class="option-item">
            <span class="glyphicon glyphicon-object-align-horizontal option-icon" aria-hidden="true"></span>
            Rechte verwalten
        </li>
        <li class="option-item">
            <span class="glyphicon glyphicon-refresh option-icon" aria-hidden="true"></span>
            Passwort ändern
        </li>
    </ul>

</div>
