<div class="options-container">

    <ul>
        <li class="option-item">
            <a href="#!/users">
                <span class="glyphicon glyphicon-user option-icon" aria-hidden="true"></span>
                Benutzer verwalten
            </a>
        </li>
        <li class="option-item">
            <a href="#!/roles">
                <span class="glyphicon glyphicon-certificate option-icon" aria-hidden="true"></span>
                Rollen verwalten
            </a>
        </li>
        <li class="option-item">
            <a href="#!/rights">
                <span class="glyphicon glyphicon-object-align-horizontal option-icon" aria-hidden="true"></span>
                Rechte verwalten
            </a>
        </li>
        <li class="option-item">
            <a href="#!/password">
                <span class="glyphicon glyphicon-refresh option-icon" aria-hidden="true"></span>
                Passwort ändern
            </a>
        </li>
    </ul>

</div>
