<div class="row margin-top-lg">
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            <label for="search-field">Suchbegriff</label>
            <input type="text" name="search-field" placeholder="Hier könnte dein Suchbegriff stehen..." ng-model="search" class="form-control">
        </div>
    </div>
</div>


<div class="row">

    <div ng-repeat="right in rights | filter:search" class="col-xs-12 col-sm-6 col-md-4 col-lg-2 margin-top-lg">
        <div class="pane">
            <div class="pane-body">
                <h4>
                    {{right.name}}
                </h4>
            </div>
            <div class="pane-footer text-right">
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-block btn-sortimo" ng-click="openRightEditModal(right.name)">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-block btn-danger" ng-click="openRightDeleteModal(right.name)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
