<div class="row margin-top-lg">
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            <label for="search-field">Suchbegriff</label>
            <input type="text" name="search-field" placeholder="Hier könnte dein Suchbegriff stehen..." ng-model="search" class="form-control">
        </div>
    </div>
</div>


<div class="element-row row">
    <div ng-repeat="role in roles | filter:search" class="col-xs-12 col-md-6 col-lg-4 margin-top-lg">
        <div class="element-column">
            <div class="row">
                <div class="col-xs-12 col-lg-8 h4">
                    {{role.name}}
                </div>
                <div class="col-xs-6 col-lg-2">
                    <button class="btn btn-sortimo" ng-click="openRightEditModal(role.name)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <button class="btn btn-danger" ng-click="openRightDeleteModal(role.name)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
