<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="AngularWebApp">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AngularWebApp</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="./../ressources/images/favicon.png" type="image/png" />
        <link rel="icon" href="./../ressources/images/favicon.png" type="image/png" />

        <!-- CSS Styles -->
        <!-- Librarys -->
        <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- Custom -->
        <link rel="stylesheet" href="./../ressources/css/style.min.css">

        <!-- JS Scripts -->
        <!-- Librarys -->
        <script type="text/javascript" src="./../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="./../node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Custom -->
        <script type="text/javascript" src="./../ressources/js/scripts.min.js"></script>
        <script type="text/javascript" src="./../ressources/angular/angular.min.js"></script>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    </head>

    <body ng-app="App">
        <div class="container-fluid">

            <h1>Panes</h1>

            <div class="row">
                <div class="col-xs-12">

                    <div class="pane">

                        <div class="pane-header">
                            Ich bin ein Header
                        </div>

                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>

                        <div class="pane-footer">
                            Ich bin ein Footer
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-3">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-3">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-3">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-4">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-4">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-2">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-2">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-2">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-2">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-2">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
                <div class="col-xs-6">

                    <div class="pane margin-top-lg">
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                        sadfaf<br>
                    </div>

                </div>
            </div>

            <br>
            <br>
            <br>

            <h1>Buttons</h1>

            <div class="row">
                <div class="col-xs-12">

                    <button class="btn btn-sm btn-success">Success</button>
                    <button class="btn btn-sm btn-warning">Warning</button>
                    <button class="btn btn-sm btn-info">Info</button>
                    <button class="btn btn-sm btn-danger">Danger</button>
                    <button class="btn btn-sm btn-default">Default</button>
                    <button class="btn btn-sm btn-sortimo">Sortimo</button>

                    <br>
                    <br>

                    <button class="btn btn-success">Success</button>
                    <button class="btn btn-warning">Warning</button>
                    <button class="btn btn-info">Info</button>
                    <button class="btn btn-danger">Danger</button>
                    <button class="btn btn-default">Default</button>
                    <button class="btn btn-sortimo">Sortimo</button>

                    <br>
                    <br>

                    <button class="btn btn-lg btn-success">Success</button>
                    <button class="btn btn-lg btn-warning">Warning</button>
                    <button class="btn btn-lg btn-info">Info</button>
                    <button class="btn btn-lg btn-danger">Danger</button>
                    <button class="btn btn-lg btn-default">Default</button>
                    <button class="btn btn-lg btn-sortimo">Sortimo</button>

                    <br>
                    <br>

                    <button class="btn btn-block btn-success">Success</button>
                    <button class="btn btn-block btn-warning">Warning</button>
                    <button class="btn btn-block btn-info">Info</button>
                    <button class="btn btn-block btn-danger">Danger</button>
                    <button class="btn btn-block btn-default">Default</button>
                    <button class="btn btn-block btn-sortimo">Sortimo</button>
                </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </body>

</html>
